* {
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg.gif);
    font-family: sans-serif;

}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    margin: 20px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 1600px;*/
}

.logo {
    border: 2px solid darkgray;
    width: 200px;
    border-radius: 60%;
    margin-bottom: 10px; 
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 10px 0px;
}

.main-nav a{
    text-align: center;
    width: 100%; /*le puse el 100% xq sino el contenido desbordaba*/
    padding: 15px; /* le puse 15px a todos xq sino los márgenes laterales se pegaban a la tipografía */
    display: flex;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(100, 100, 100); /*Cambié el color, me parece que quedan mejor éstos y saqué la opacidad, porque en el menú querés que las opciones sean bien legibles y de fácil acceso, no al revés*/
}

.main-nav a:hover {
    background-color: rgb(98, 0, 190); /*Cambié el color, me parece que quedan mejor éstos y saqué la opacidad, porque en el menú querés que las opciones sean bien legibles y de fácil acceso, no al revés*/
}

.banner{
    margin: 10px 0px 10px 0px;
}

/*Creé éstas clases*/
.btn{
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-weight: 500;
    padding: 5px;
}

.btn:hover{
    background-color: rgb(98, 0, 190);
}

.datos{
    width: 594px;
}

.p-form {
    color: rgb(98, 0, 190);
    text-decoration: underline;
}

.ppal{
    background-color: rgba(98, 0, 190, 0.3);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    padding: 2%;
}

.user a{
    box-align: right;
    color: rgb(98, 0, 190);
    display: block;
    float: right;
    text-align: right;
    text-decoration: none;
}

.user a:visited{
    color: rgb(50, 50, 50);
}

fieldset{
    border: 1px solid rgb(50, 50, 50);
    border-radius: 5px;
}

h3{
    text-decoration: underline;
}

input{
    color: black;
    font-weight: 400;
}

main section{
    background-color: rgba(150, 150, 150, 0.5);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    padding: 10px;
}

/* Hasta acá */

main {
    margin: 10px 0px 10px 0px;
}

p {
    margin: 10px 0px 10px 0px;
    font-size: 1.5em;
}

.footer-nav {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-nav a{
    text-decoration: none;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    padding: 0px 5px 0px 5px;
}

i {
    text-align: center;
}

@media (max-width: 767.98px) {
    .main-nav a{
        width: 96px;
        font-size: 1em;
    }
    .doggo{
        max-width: 40%;
    }

    .doggo a{
        width: 50%;
    }
}

@media (max-width: 575.98px) {
    
    .main-nav{
        flex-direction: column;
    }
    
    .main-nav a{
        border-radius: 0%;
        width: 100%;
        border-bottom: 1px solid white;
    }

    /*Agrego la clase acá para el responsive*/
    .datos{
        width: 100%;
    }
}

@media (max-width: 424.98px) {
    .main-header{
        width: 100%;
    }

    .vip-doggos{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .doggo a{
        align-self: center;
    }

    .banner{
        display: none;
    }
    
    .doggo{
        max-width: 90%;
        align-self: center;
     
    }

    p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo {
        width: 150px;
    }

    .footer-nav{
        flex-direction: column;
    }

    .footer-nav a{
        border: none;

    }
}